{% extends 'base.html' %}
{% block content %}




{% endblock content %}








<!-- <main role="main">
    <div class="jumbotron my-3">
        <div class="container-fluid">
            <form action="{% url 'login_page' %}" method="POST">
                        {% csrf_token %}
            
                <div class="wrap-input100 validate-input">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Username</span>
                    <input class="form-control" name="username" type="text">
                </div>

                <div class="form-group my-4">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Password</span>
                    <input class="form-control" name="password" type="text">
                </div>

                

                <div class="form-group my-4">
                    <input type="submit" value="Login" href="/menu/register_page" class="btn btn-primary btn-block"> 
                     <input type="submit" value="Register" class="btn btn-secondary btn-block">
                    <span class="focus-input100"></span>
                    <button type="submit" class="btn btn-dark">
                        <a href="/menu/register_page">Register Here?</a>
                    </button>
                    <a href="/menu/register_page/">Register Here?</a>

                </div>

            </form>
        </div>
    </div>
</main>

<div class="container mx-5 my-3">
    <h2 class="text-center alert alert-danger"> Login Safely And Securely.....! </h2>
</div>
 -->